# Main files to keep
!1_Main_script_QC_GWAS.txt
!2_Main_script_MDS.txt
!3_Main_script_association_GWAS.txt
!inversion.txt

# Data file
!HapMap_3_r3_1.*
*.bed
*.fam
*.bim
*.vcf
*.gz

# Output files
*.pdf
*.log
*.in
*.out
*.id
*.txt
*.sexcheck
*.afreq
*.hardy
*.smiss
*.vmiss
*.het
*.nosex

# Temporary files
*_tmp
