# Files to keep
!inversion.txt
!4_Main_script_PRS.md
!4_PRS/PRSice.*.png

# Data file
!HapMap_3_r3_1.*
*.bed
*.fam
*.bim
*.vcf
*.gz
*.pgen
*.psam
*.pvar

# Output files
*.jpeg
*.log
*.in
*.out
*.id
*.txt
*.sexcheck
*.afreq
*.hardy
*.smiss
*.vmiss
*.het
*.nosex
*.panel
*.eigenval
*.eigenvec
*.hybrid

# Temporary files
*_tmp

# PRSice files
4_PRS/*